.pokedexKantoButton {
  background: #fe0066;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 7px 0px;
  color: white;
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}
