.pokemonCube {
  border-radius: 5px;
  border: 1px solid blue;
  box-shadow: 2px 2px 7px 0px;
  margin: 5px;
  padding: 5px;
}

.pokemonImageWrapper {
  background: #f2f2f2;
  border-radius: 5px;
  display: block;
  float: left;
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.pokemonImage {
  float: left;
  position: absolute;
  top: 0;
  width: 100%;
}

.pokemonText {
  color: #313131;
  font-family: "Flexo-Demi", arial, sans-serif;
  font-size: 145%;
  margin-bottom: 5px;
  text-transform: none;
}

.pokemonId {
  color: #919191;
  font-family: "Flexo-Bold", arial, sans-serif;
  font-size: 80%;
  padding-top: 2px;
}

.pokemonAbility {
  border-radius: 3px;
  float: left;
  font-family: "Flexo-Medium", arial, sans-serif;
  font-size: 11px;
  line-height: 18px;
  margin: 0 1.5625% 0 0;
  max-width: 110px;
  text-align: center;
  text-transform: none;
  width: 38.4375%;
}
