.pokedexCircleRed {
  background-color: rgb(253, 0, 0);
  border-radius: 50%;
  border: 2px solid black;
  height: 20px;
  margin: 6px;
  width: 20px;
}

.kantoPokedexBody {
  background-color: #fe0066;
  border: 2px solid black;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.pokemonImageWrpper {
  background-color: white;
  border-radius: 0 0 0 10px;
  border: 2px solid black;
  padding: 10px;
}

.pokemonImageRedDotWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pokemonImageRedDot {
  background-color: rgb(253, 0, 0);
  border-radius: 50%;
  border: 1px solid black;
  height: 6px;
  margin: 6px;
  width: 6px;
}

.pokemonPokedexImageWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pokemonPokedexImageborder {
  background: rgb(153, 203, 152);
  border-radius: 5px;
  border: 2px solid black;
}

.pokemonPokedexImage {
  border-radius: 5px;
  height: 90px;
  padding: 20px;
  width: 90px;
}

.pokedexInformationBoxWrapper {
  background: rgb(157, 157, 157);
  border-radius: 5px;
  border: 2px solid black;
  font-family: cursive;
  font-weight: 800;
  margin-top: 10px;
  padding: 20px;
}
